.greet {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  font-size: 72px;
  background: -webkit-linear-gradient(#045de9, #09c6f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcomepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  max-width: 100%;
  width: 400px;
  display: flex;
}

.info {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: #045de9;
}

@media only screen and (max-width: 800px) {
  .greet {
    font-size: 46px;
    padding: 15px;
  }
  .welcomepage {
    flex-direction: column;
  }

  .info {
    margin-left: 0px;
  }

  /* .mainImage {
    width: 60%;
  } */

  .moto {
    padding: 15px;
  }

  .mainLoginBtn {
    padding: 15px;
  }
}

.signinmessage,
.message {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.actionBtn1 {
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.actionBtn2 {
  background-image: linear-gradient(315deg, #045de9 50%, #09c6f9 0%);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
