.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}

.loginBtn {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #4776e6, #8e54e9 74%);
  color: white;
  padding-left: 70px;
  padding-right: 70px;
}

.logoText {
  font-size: 40px;
  background: -webkit-linear-gradient(#a5ccb2, #0b82a3);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 0 10px;
  }
}
