.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-items: center;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(33, 33, 33, 0.5049370089832808) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(33, 33, 33, 0.5049370089832808) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(33, 33, 33, 0.5049370089832808) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212121",GradientType=1);
}

.loginBtn {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #4776e6, #8e54e9 74%);
  color: white;
  padding-left: 70px;
  padding-right: 70px;
}

.logoText {
  font-size: 40px;
  background: -webkit-linear-gradient(#a5ccb2, #0b82a3);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
